@import "../../style/variables";

.header {
  background-color: $avalanche-black;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  height: 2em;
  margin-right: 1em;
}